.main-container {
  margin: 12px;
}

.container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(68, 148, 68);
}

.form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form input {
  padding: 8px;
  border: 1px solid rgb(179, 173, 173);
  border-radius: 4px;
  transition: 0.3s;
  font-size: 16px;
  outline: none;
}

.form input:focus {
  border: 1px solid rgb(68, 148, 68);
}

.search-button {
  margin-left: 10px;
  color: #fff;
  background-color: rgb(68, 148, 68);
  border-radius: 6px;
  border: 1px solid;
  transition: 0.5s;
  font-weight: 600;
}

.search-button:hover {
  background-color: #206d26;
}

input .input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 0px;
}




.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 14px;
  margin: 20px;
  /* justify-content: center; */
  align-items: center;
}

.sub-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.circular-image {
  width: 100%;
  max-width: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.followers-btn {
  background-color:#e3eaf1;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.followers-btn:hover {
  background-color:#d8d8cb;
}

.followers-btn span {
  color: #636c76;
  font-weight: 00;
  font-size: 12px;
  font-weight: 200;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.user-name {
  margin: 4px 0;
  font-weight: 500;
  color: #262a2e;
}

.user-id {
  color: #586069;
  font-size: 24px;
  font-weight: 200;
}

.user-add {
  color: #242121;
  padding-top: 4px;
  font-size: 16px;
  font-weight: 400;
}

.card-container {
  display: grid;
  gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (min-width: 576px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 1px 3px rgba(27, 31, 35, 0.12);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  color: #0366d6;
  text-decoration: none;
  font-weight: 600;
}

.card-description {
  margin: 8px 0;
  font-size: 14px;
  color: #586069;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #586069;
  margin-top: auto;
}

.language {
  display: flex;
  align-items: center;
}

.language-color {
  display: inline-block;
  background-color: #5d268a;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.stars,
.forks {
  display: flex;
  align-items: center;
}